<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="app">
    <form @submit.prevent="loggedIn = true" v-if="!loggedIn" class="form1">
        <h3 class="account-title">{{title}}</h3>
        <div class="account-box">
            <div class="account-logo text-center">
                <a href="#"><img src="preadmin/assets/img/logo.png" alt="Preadmin"/></a>
            </div>

            <appinput v-for="(item, index) in info"
                      :name="item.name"
                      :value="item.value"
                      :pattern="item.pattern"
                      :type="item.type"
                      :id="item.id"
                      :idinput="item.idinput"
                      :key="index"
                      @changedata="onChangeData(index, $event)"
            ></appinput>

            <div class="form-group text-center">
                <button class="btn btn-primary btn-block account-btn"
                        type="submit"
                        @click="recordLogin()"
                        :disabled="done < info.length">Register
                </button>
            </div>
        </div>
    </form>


    <div class="successForm" v-else>
        <table class="table table-bordered">
            <tr :class="item.displaynone" v-for="(item, index) in info">
                <td>
                    <span>{{item.name}}</span>
                </td>
                <td>
                    <span v-show="!isEditing">{{item.value}}</span>
                    <input :id="item.editid" v-show="isEditing" v-model="item.value" type="text" class="form-control">
                </td>
            </tr>
        </table>
        <hr>
        <br>
        <div class="button-column">
            <a href="" @click.prevent='logout'>Logout</a>
            <button v-on:click="editContent" class="btn btn-primary rounded">
                <i class="fa fa-plus" aria-hidden="true">Edit Profile</i>
            </button>
            <button v-on:click="saveContent" class="btn btn-primary rounded">
                <i class="material-icons" aria-hidden="true">Save</i>
            </button>
        </div>
    </div>

    <app-account></app-account>

    <div class="container-account">
        <h3 class="account-title">Login</h3>
        <div class="account-box">
            <div class="account-wrapper">
                <div class="account-logo text-center">
                    <a href=""><img src="preadmin/assets/img/logo.png" alt="Preadmin"/></a>
                </div>
                <form action=""/>
                <div class="form-group form-focus">
                    <label class="control-label">Username or Email</label>
                    <input id="username" class="form-control floating" v-model="checkname" type="text"/>
                </div>
                <div class="form-group form-focus">
                    <label class="control-label">Password</label>
                    <input id="password" class="form-control floating" v-model="checkpass" type="password"/>
                </div>
                <div class="form-group text-center">
                    <button @click="checkLogin" class="btn btn-primary btn-block account-btn" type="submit">
                        Login
                    </button>
                </div>
                <div class="text-center">
                    <a href="">Forgot your password?</a>
                </div>
                </form>
                <div class="noaccount">
                    Please create an account first
                </div>
            </div>
        </div>
    </div>

    <div class="account-success">
        <div class="account-logo text-center">
            <a href=""><img src="preadmin/assets/img/logo.png" alt="Preadmin"/></a>
        </div>
        Congratulations! <strong>{{checkname}}</strong> have successfully entered your account.
    </div>
</div>


<script src="node_modules/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script src="main.js"></script>
</body>
</html>