.account-box {
    width: 400px;
    margin: 0 auto;
}

.account-title {
    text-align: center;
}

.successForm {
    padding: 20px;
}

.displayNone {
    display: none;
}

.button-column {
    display: table-caption;
}

.button-column button:nth-child(2) {
    margin: 20px 0;
}

.container-account {
    display: none;
}
.account-success {
    text-align: center;
    padding-top: 250px;
    color: green;
    display: none;
}
.account-success .account-logo {
    padding-bottom: 30px;
}
.noaccount {
    display: none;
    color: red;
    padding-top: 20px;
    font-size: 30px;
}